# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# data files
1-data/*

# archives files
2-scripts/archives/*
3-results/archives/*

# figures files
4-figures/*
