# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# data files
data/*

# archives files
src/archives/*
results/archives/*

# figures files
results/figures/*

# temp
src/analysis_of_predictive_features_incels.ipynb
